  <header>
        <nav>
            <a href="/"><button> Pagina Principal</button></a>
            <a href="/pastor_aleman"><button>Pastor Aleman</button></a>
            <a href="/chihuahua"><button>chihuaha</button></a>
        </nav>
  </header>