<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastor</title>

    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/estilosbarras.css">
    <link rel="stylesheet" href="./assets/css/estiloscuerpo.css">
</head>

<body>
    {{> menu}}
    <main>

        <section class="presentacion">


            <div>
                <div>
                    <p>
                    <h1>CHICHUA </h1>
                    </p>
                    <ol>
                        <li>
                            Origen: Los Chihuahuas son una raza de perros pequeños que se cree que se originaron en
                            México.
                            Son la raza más pequeña del mundo.
                        </li>
                        <li>
                            Características físicas: Los Chihuahuas son perros muy pequeños, con una cabeza distintiva y
                            orejas grandes en proporción a su tamaño. Tienen un pelaje corto o largo que puede ser de
                            varios
                            colores.
                        </li>
                        <li>
                            Comportamiento y temperamento: Son conocidos por ser valientes, alertas y a menudo se apegan
                            mucho a sus dueños. A pesar de su tamaño, pueden ser muy seguros de sí mismos y pueden ser
                            protectores.
                        </li>
                        <li>
                            Alimentación: La dieta de un Chihuahua debe ser adecuada para su tamaño. Se les debe
                            proporcionar alimentos de alta calidad en porciones pequeñas.
                        </li>
                        <li>
                            Cuidado y salud: Los Chihuahuas son propensos a problemas de salud relacionados con su
                            pequeño
                            tamaño, como problemas dentales y luxaciones de la rótula. Requieren atención veterinaria
                            regular.
                        </li>
                        <li>
                            Entrenamiento: A pesar de su tamaño, son inteligentes y pueden ser entrenados. El
                            entrenamiento
                            temprano y la socialización son importantes para su comportamiento.
                        </li>
                        <li>
                            Funciones: Los Chihuahuas son principalmente perros de compañía. Son ideales para vivir en
                            espacios pequeños y son compañeros leales y cariñosos.
                        </li>
                    </ol>

                </div>
            </div>

            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/h1pKSEeaNLM?si=elrGhz-yQIP0O7bY"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </section>
    </main>

    {{> footer}}

</body>

</html>