<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/estilosbarras.css">
    {{!--
    <link rel="stylesheet" href="./assets/css/estiloscuerpo.css"> --}}
</head>

<body>
    {{> menu}}
    <main>

        <section class="presentacion">

            <div>
                <h1 class="TITULO">PERROS DOMESTICOS</h1>
                <p>

                    Los perros domésticos, científicamente conocidos como Canis lupus familiaris, son una de las
                    especies animales más antiguamente domesticadas por los seres humanos. Son mamíferos pertenecientes
                    a la familia Canidae, que incluye a los lobos, zorros y otros parientes. Aquí tienes información
                    general sobre los perros domésticos:
                <ol>
                    <li>
                        Origen: Los perros domesticados descienden de los lobos y se cree que la domesticación comenzó
                        hace
                        aproximadamente 20,000 a 40,000 años. Los primeros perros se utilizaron para la caza y la
                        protección.
                    </li> <br>
                    <li>

                        Variedad de razas: Existen cientos de razas de perros, cada una con sus propias características
                        físicas, temperamento y habilidades. Las razas varían en tamaño, pelaje, forma y propósito,
                        desde
                        perros de trabajo hasta perros de compañía.
                    </li> <br>
                    <li>
                        Comportamiento y temperamento: Los perros son animales sociales y tienden a formar fuertes lazos
                        con
                        sus dueños y otros miembros de la familia. Son conocidos por su lealtad, cariño y capacidad de
                        adaptación. El temperamento puede variar de una raza a otra, pero en general, los perros son
                        animales amigables y dispuestos a aprender.
                    </li> <br>
                    Alimentación: La dieta de un perro depende de su edad, tamaño y necesidades individuales. La mayoría
                    de los perros comen alimentos comerciales formulados específicamente para ellos, ya sea alimento
                    seco o húmedo. También se pueden alimentar con dietas caseras equilibradas.
                    <li>
                        Cuidado y salud: Los perros requieren atención médica regular, como vacunas, desparasitación y
                        cuidado dental. Además, necesitan ejercicio diario, atención social y estimulación mental para
                        mantenerse felices y saludables.
                    </li> <br>
                    <li>
                        Entrenamiento: El entrenamiento es esencial para enseñar a un perro buenos modales y comandos
                        básicos. La socialización temprana es importante para ayudar a los perros a adaptarse a
                        diferentes
                        situaciones y a interactuar de manera adecuada con otros animales y personas.
                    </li>
                    <li>
                        Relación con los humanos: Los perros son conocidos como "el mejor amigo del hombre" debido a su
                        larga historia de convivencia con los seres humanos. Han sido criados y entrenados para una
                        amplia
                        variedad de propósitos, desde perros de trabajo, como perros de pastoreo y perros de búsqueda y
                        rescate, hasta perros de compañía que brindan amor y apoyo emocional a sus dueños.
                    </li> <br>
                    <li>
                        Importancia cultural: Los perros tienen un lugar especial en la cultura humana en todo el mundo.
                        Son
                        protagonistas en la literatura, el cine, la música y otras formas de arte. También se utilizan
                        en
                        terapias asistidas con animales y en la detección de drogas y búsqueda y rescate.
                    </li> <br>
                </ol>
                </p>

             

                <div class="perro">
                    <div class="foto-container">
                        <img class="foto" src="./assets/images/perro1.jpg" alt="este es un perro">
                    </div>
                    <div class="foto-container">
                        <img class="foto2" src="./assets/images/perro2.jpg" alt="este es un perro">
                    </div>
                </div>


            </div>


        </section>


    </main>

    {{> footer}}

</body>

</html>